// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// display username adjustments
#username {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777;
  padding: 15px;
  max-width: 100px;
  word-wrap: break-word;
}